* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root{
  --pink : #EC7979;
  --gray : #86878b;
--size_block:40px;
}




.body{
  height: 100%;
  width: 100%;
}

.container{
  width:85%;
  max-width: 1182px;
  margin: 0 auto;

}

.flx-allcntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  display: flex;
margin-bottom: 104px;
  flex-wrap: wrap;
  flex-direction: row;
}

.clmn {
  flex-direction: column;
}
.font-family-Raleway{
  font-family: "Raleway", sans-serif;
}
.h2-text {
  font-size: 36px;
  color: #212121;
  
  font-weight: normal;
  margin-bottom: 25px;
  text-align: center;
}
.main-text-h2 {
  font-size: 36px;
  font-weight: normal;
  margin-top: 76px;
  margin-bottom: 48px;
  text-align: center;

  color: #ffffff;
}
.line-border {
  width: 64px;
  size: 1px;
  border-color: #e72424;
  margin-bottom: 30px;
}

.light-text {
  color: var(--gray);
  font-size: 14px;
  line-height: 19px;
}

.main {
  margin-top: 67px;
}

.cell {
  margin-right: 3%;
  max-width: 350px;
  min-width: 108px;
  width: 30%;
  margin-bottom: 20px; /*all cell separately*/
}

.icon {
  border: 1px solid #e72424;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.img-icon {
  max-width: 37px;
}

.main-title {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  
}
.main-title_margin_align{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
}

.description-text {
  font-size: 14px;
  text-align: center;
}

.down-content-box {
  background: url(../img/back-img.png);
  background-repeat: no-repeat;
background-position: center;
  background-size: cover;
  min-height: 326px;
  margin-top: 108px;
  
}

.img-overlay {
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
  align-items: center;

  
  min-height: 326px;
  background: rgba(0, 0, 0, 0.65);
  background-size: 100%;
}

.white-border {
  border-color: white;
  width: 64px;
  size: 1px;
  margin-bottom: 30px;
}

.button-download {
  background-color: rgba(0, 0, 0, 0);
  
  color: #ffffff;
  font-size: 15px;
  padding: 11px 26px;
  text-align: center;
  border: 1px solid #ffffff;
  cursor: pointer;
    max-width: 125px;
    max-height: 41px;
}

.button__more-width{
  max-width: 166px;
  align-self:center;
  min-width: 152px;
  margin-top: 65px;
}

.button-download:hover {
  background: var(--pink);
  transition: 0.5s;
}
.button-download:focus {
  outline:none;
}

.light-text-2 {
  color: rgba(255, 255, 255, 0.8);
 
}

.footer {
  background: #000000;
  height: auto;
}

.footer-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  padding-top: 30px;
}

.icons-box {
  display: flex;
  width: 40%;
  justify-content: space-between ;
  max-width: 317px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.foot-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 15px 0 18px;
}

.link-soc{
  color:#ffffff;
  font-size: 18px;
  margin-right: 3px;

}

.link-soc:hover{
  transition:0.5s;
  color: #e6e3e38c;
  
}

.navigation__black{
  position: sticky;
  top:0;
 z-index: 10;
  background-color: rgb(0, 0, 0);
width: 100%;
}

.navigation{
  display:flex;
 
min-height: 70px;
flex-wrap: wrap;
justify-content: space-between;

}

.text-transform_uppercase{
  text-transform: uppercase;
}

.logo__text{
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
}

h1.logo__text{
  font-size: 60px;
}

.logo__text_pink{
  color:  var(--pink);
  
}

/*stiles for menu*/

.menu{
  display: flex;
  width: 40%;
  align-items: center;
  
}
.menu__list  {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex: 0 1 100%;
  flex-wrap: wrap;
  padding: 0;
}

.menu__list :not(:last-child){
  margin-right: 12px;
}/*Margin сливается?*/



.menu__link{
   color: rgba(255, 255, 255, 0.7);
   text-decoration: none;
  font-size: 15px;
  text-transform: capitalize;
  
  flex-basis: 45%;
}
.menu__link:hover{
  color: rgba(255, 255, 255, 1);
  transition:0.7s;
}

/*header-block*/
.header__background{
  background:url(../img/header__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 326px;
background-position: center;
}



.top{
  display: flex;
  justify-content: space-between;
  margin: 110px 0 100px;

  flex-wrap: wrap;
}

.margin_0{
  margin: 0;
}

.top__text,
.title__text {
  text-align: left;
}

.top__text{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-between;
  height: 370px;
  margin-bottom: 3px;
}


.img__overlay_height{
  min-height:601px
}

.title__text{
  max-width: 544px;
}

/* styles for top form*/

.top__form{
  display: flex;
flex-direction: column;
justify-content: space-between;
flex-basis:370px;
background: #FFFFFF;
border-radius: 8px;
min-height:370px;

}

.form__registration{
  display: flex;
  flex-direction: column;
  flex-basis:370px;
  flex: 1 1 auto;
  justify-content: space-between;

}

.form__registration_wide{
  display: flex;
  flex-direction: column;
  margin: 95px 0 44px;

  justify-content: space-between;

}


.form__submit{
  background: var(--pink);
  width:100%;
border-radius: 0px 0px 8px 8px;
height: 53px;
border: none;
padding: 11px 26px;
cursor: pointer;
font-size: 15px;
line-height: 20px;
color: #FFFFFF;
}

.form__legend{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  font-size: 20px;
  flex-shrink: 2;
  font-weight: bold;
}

.form__fieldset{
  padding:0;
  border: none;
width: 252px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 59px;
}

.form__fieldset_wide{
 
  border: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  flex-wrap: wrap;
  
}


.form__label{
  font-size: 14px;
line-height: 19px;
align-self: left;
color: #BDBDBD;
}

.form__label:nth-child(n+2){
  margin-top: 19px;
}

.form__label_2:nth-child(n+2){
  margin-top: 30px;
}

.input__border{
  border: none;
  width: 100%;
  border-bottom: 1px solid  #BDBDBD;
  background-color: transparent;
  color: inherit;
  outline: none;
  /*
  border: bottom 5px;
  border-color:  #BDBDBD;*/
}
.input__border_focus:focus{
  outline: none;
  border-bottom: 1px solid  #535353;
 transition: 0.5s;
}

.submit__border_focus:focus{
  outline: none;
}


.social_background{
  background-color:#F8EFEF; 
}

.social{
  display: flex;
  justify-content: space-between;
}

.social__left{
  max-width: 365px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.social__right{
  margin: 34px 0;
  max-width: 684px;
  width:58% ;
}

 .social__icons-box {
   color: var(--gray);
   display: flex;
   flex-direction: row;

    justify-content: space-between;
    
    flex-wrap: wrap;
    list-style-type: none;
    
 }

 .icons-box__link{
  font-size: 42px;
color:var(--gray);

 }


 .icons-box__link:hover{
   color:var(--pink);
   transition: 0.5s;
 }

 .button__on-white{
   background-color: var(--pink);
   border:none;
 }
 .button__on-white:hover{
  background-color:var(--gray);
  transition: 0.5;
 }

 .tabs__block{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
 margin:126px 0 125px
 }

.tab__button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
width:11%;
min-width: 100px;

}

.button_gray{
  background: #333333;
  
  padding: 45px 35px;
  
  max-height:110px;
  /*
  min-width: 80px;
  max-width: 112px;
  min-height: 80px;*/
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 15px;
cursor: pointer;
text-align: center;

}
.button_gray:not(:last-child){
  margin-bottom: 10px;
}
.button_gray:hover{
  background-color:var(--pink);
  transition: 0.5s;
}

.button_gray:focus {
  outline:none;
}


 .tab__text{
  display: flex;
  flex-flow:column ;
  justify-content: space-between;
  max-width: 572px;
 }

 .button-download_margin{
   margin-top:57px;
   
 }

 .pricing{
   background-color: #F5F5F5;
 }
 .h2__black_margin-top{
   margin-top: 80px;
 }

 .pricing__container{
   display: flex;
   justify-content: space-between;
   text-align: center;
   margin-top: 62px ;
 }

 .box__translateY{
   transform: translateY(-15px);
 }

 .price__gray-text{
  color: #86878B;
  font-size: 14px;
  line-height: 19px;
 }
 .pricing__description > div{
   background-color: #333333;
   width: 100%;
 }

 .pricing__description :first-child{
  margin-bottom: 1px;
}
  .pricing__description :not(:first-child){
  margin-bottom: 2px;
}
 

 .font-weight_bold{
  font-weight: bold;
 }

 .color-white{
   color:#FFFFFF;
 }


.reviews__box{
  max-width: 298px;
}
 

 
 .font-size__price{
  font-size: 35px;
 }

.pricing__description >div{
  display: flex;
  justify-content: center;
  align-items:center;
}

 .pricing__description :first-child{
  font-size: 20px;
 
 }

 .pricing_box{
max-width: 340px;
width: 29%;
margin-bottom: 60px;
 }

 .description__rate,
 .description__promo{
   height: 50px;
 }

 .description__price{
   height: 100px;
 }
 
 .item__description{
  width: 100%;
  background-color: #FFFFFF;
  margin-top: 4px;
  overflow: hidden;
  height: var(--size_block);
  display: flex;
  justify-content: center;
  align-items:center;
 }

 .reviews__container{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin-top:47px ;
 }
 .price__gray-text {
  color: #86878B;
  font-size: 14px;
  line-height: 19px;
}

.reviews__photo{
  border-radius:50%;
}

.reviews__blockquote{
  background: #E2E2E2;
  border-radius: 7px;
  max-width: 300px;
  margin: 20px 0;
  padding: 14px 14px;
 
}


.revews__date{
  display: flex;
  justify-content: space-around;
  
}

.date__name{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.form__left,
.form__right{
  max-width: 478px;
  max-height: 216px;
  width: 50%;
  height: 100%;
}

.form__left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 3px;
  margin-bottom: 30px;
}


.textarea{
  resize: none;
  overflow: auto;
}

#password2{
  min-height: 40px;
}

#name2,
#email2{
  min-height: 30px;
}
