* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.body{
  height: 100%;
  width: 100%;
}
.flx-allcntr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
}

.clmn {
  flex-direction: column;
}
.font-family-Raleway{
  font-family: "Raleway", sans-serif;
}
.h2-text {
  font-size: 36px;
  color: #212121;
  
  margin-top: 100px;
  margin-bottom: 25px;
  text-align: center;
}
.main-text-h2 {
  font-size: 36px;
  font-weight: normal;
  margin-top: 76px;
  margin-bottom: 48px;
  text-align: center;

  color: #ffffff;
}
.line-border {
  width: 64px;
  size: 1px;
  border-color: #e72424;
  margin-bottom: 30px;
}

.light-text {
  color: #86878b;
  font-size: 14px;
}

.main {
  margin-top: 67px;
}

.cell {
  margin-right: 3%;
  max-width: 350px;
  min-width: 108px;
  width: 30%;
  margin-bottom: 20px; /*all cell separately*/
}

.icon {
  border: 1px solid #e72424;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.img-icon {
  max-width: 37px;
}

.main-title {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 16px;
}

.description-text {
  font-size: 14px;
  text-align: center;
}

.down-content-box {
  background: url(../img/back-img.png);
  background-repeat: no-repeat;

  background-size: cover;
  min-height: 326px;
  margin-top: 108px;
  
}

.img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  min-height: 326px;
  background: rgba(0, 0, 0, 0.65);
  background-size: 100%;
}

.white-border {
  border-color: white;
  width: 64px;
  size: 1px;
  margin-bottom: 30px;
}

.button-download {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 30px;
  margin-bottom: 38px;
  color: #ffffff;
  font-size: 15px;
  padding: 11px 26px;
  text-align: center;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.button-download:hover {
  background: rgba(243, 165, 21, 0.65);
  transition: 0.5s;
}
.button-download:focus {
  outline:none;
}

.light-text-2 {
  color: rgba(255, 255, 255, 0.8);
 
}

.footer {
  background: #000000;
  height: auto;
}

.footer-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  align-items: center;
  padding-top: 30px;
}

.icons-box {
  display: flex;
  width: 40%;
  justify-content: space-between ;
  max-width: 317px;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
}

.foot-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  margin: 15px 0 18px;
}

.link-soc{
  color:#ffffff;
  font-size: 18px;
  margin-right: 3px;

}

.link-soc:hover{
  transition:0.5s;
  color: #e6e3e38c;
  
}

.header{
  display:flex;
  
background-color: rgb(0, 0, 0);
height: 10%;
min-height: 70px;
flex-wrap: wrap;
justify-content: space-between;
padding: 0 8.6% 0 8.8%;
}


.logo__text{
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: normal;
  
}
.logo__text_pink{
  color:  #EC7979;
  font-weight: normal;
}

/*stiles for menu*/

.menu{
  display: flex;
  width: 40%;
  align-items: center;
  
}
.menu__list  {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex: 0 1 100%;
  flex-wrap: wrap;
  padding: 0;;
}

/*.menu__list :not(:last-child){
  margin-right: 48px;
}*/



.menu__link{
   color: rgba(255, 255, 255, 0.7);
   text-decoration: none;
  font-size: 15px;
  text-transform: capitalize;
  
  flex-basis: 45%;
}
.menu__link:hover{
  color: rgba(255, 255, 255, 1);
  transition:0.7s;
}

